## Projeto Modulo 3 & 4

**DESCRIÇÃO**

Eu, como Gestor de Conteúdo, gostaria de visualizar os lançamentos do último ano com as melhores notas e assim, aferir o investimento realizado.

**REGRAS DE NEGÓCIO**
- Considerar apenas lançamentos da Netiflix do último ano e não liberações do último ano. &#x2705;
- Considerar as notas / avaliações &#x2705;

**CRITÉRIOS DE ACEITE**
- Quero visualizar de forma gráfica
- Quero visualização Geral e por Gênero
- Apresentar as notas no gráfico

#### Bibliotecas

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from datetime import datetime

**Importando Tabelas**

In [13]:
path = '.'

for arq in os.listdir(path):
    if arq.endswith('.csv'):
        globals()['df_' + arq[5:-4]] = pd.read_csv(arq)
        print('df_{}'.format(arq[5:-4]))

df_movies
df_names
df_ratings

**ETL Movies**

In [30]:
df_movies = df_movies[df_movies.year >= datetime.now().year - 1]
df_movies = df_movies.sort_values(by=['avg_vote','votes'], ascending=False)

df_movies[['title','avg_vote','votes','budget']]

                                title  avg_vote  votes     budget
77908                Love in Kilnerry      10.0   2360  $ 1200000
52002                          Kirket      10.0    587        NaN
81138               Gini Helida Kathe       9.8    425        NaN
51300                           Runam       9.7    133        NaN
81133  Android Kunjappan Version 5.25       9.6   1176        NaN
...                               ...       ...    ...        ...
77372              Possession Diaries       1.8    108        NaN
81227           Adventures of Aladdin       1.7    998        NaN
81067                       Borç Harç       1.4   3844        NaN
79384                       Loqueesha       1.2    775        NaN
81206                Greyhound Attack       1.2    134  $ 1500000

[1567 rows x 4 columns]